.github/**
.vscode/**
.vscode-test/**
.gitignore
src/**
out/**
node_modules/**
dist/test/**
*.vsix
coverage/**
tsconfig.json
esbuild.js
vitest.config.ts
.vscode-test.mjs
pnpm-lock.yaml
pnpm-workspace.yaml
.npmrc
src/test/**
*.log
vsc-extension-quickstart.md
images/icon.svg
